---
import Layout from '../components/layout/layoutDefault.astro'
import Button from '../components/Button.astro'
import HeroSection from '../components/layout/HeroSection.astro'
import '../styles/public.scss'
import 'animate.css'
---

<Layout pageTitle="Daniel Lutz Portfolio">
	<div class="content-frame">
		<HeroSection class="animate__fadeIn animate__animated animate__slow animate__delay-1s">
			<h1>Daniel Lutz <br><span class="accent">Web</span> Portfolio.</h1>
			
			<Button caption="Discover!" path="#LOC"/>
		</HeroSection>
	</div>
	
</Layout>
