---
import Layout from '../components/layout/layout-default.astro'
import Button from '../components/Button.astro'
import '../styles/public.scss'
---

<Layout>
	<h1 class="headline">Daniel Lutz <br><span class="accent">Web</span> Portfolio.</h1>
	<Button caption="Discover!" path="#LOC"/>
</Layout>
