$cornflowerBlue: #797EF6;
$viking: #4ADEDE;
$pictonBlue: #1AA7EC;
$jacksonPurple: #1E2F97;
$roseEbony: #503D42;


$accent: #ff7b00;
$complementary: #5A5A5A;
$secondary: #FFFFFF;
$highlight: #00BFFF;
$shade: #333333;
$midnightGray: #1F1F1F;

.defaultGrid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
        "nav nav"
        "main main"
        "footer footer";
    grid-gap: 0.25rem;
}

main {
    grid-area: main;
}


@media only screen and (max-width:900px) {
    main {
        margin-top: 3rem;
    }
    .gridContainer {
        grid-template-columns: .75fr .8fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-areas: 
        "main nav"
        "main nav"
        "footer nav";
    }
    
}

@media only screen and (min-width:900px) {
    main, footer {
        width: 80vw;
        margin: 0 auto;
    }
}