$accent: #ff7b00;
$complementary: #5A5A5A;
$secondary: #FFFFFF;
$highlight: #00BFFF;
$shade: #333333;
$midnightGray: #1F1F1F;

.content-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

footer {
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
}
