$cornflowerBlue: #797EF6;
$cornflowerNight: #4d4f8b;
$viking: #4ADEDE;
$sfeh: #06e09f;
$hewfh: #038373;
$pictonBlue: #1AA7EC;
$jacksonPurple: #1E2F97;
$roseEbony: #503D42;

$accent: #ff7b00;
$complementary: #5A5A5A;
$secondary: #FFFFFF;
$highlight: #00BFFF;
$shade: #333333;
$midnightGray: #1F1F1F;
$darkBlack: #001220;

html {
    /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%; 
    scroll-behavior: smooth;
}

body {
    color: $secondary;
    background-color: $darkBlack;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    max-width: 85%;
}

span.orange {
    color: $accent;
}

span.viking {
    color: $viking;
}

span.blue {
    color: $cornflowerBlue;
}

// .accent {
//     color: $viking;
// }

.dark {
    color: $midnightGray;
}

.bold {
    font-weight: bold;
}

a {
    &:hover {
        color: $cornflowerNight;
    }

    &.casual {
        text-decoration: none;
        color: $sfeh;

        &:hover {
            color: $cornflowerNight;
        }
    }

    &.uncasual {
        text-decoration: none;
        color: $cornflowerBlue;

        &:hover {
            color: $cornflowerNight;
        }
    }
}

@media only screen and (max-width:900px) {
    .mobile {
        visibility: visible;
    }
}

@media only screen and (min-width:901px) {
}