---
import Header from './Header.astro'
import '../../styles/layoutDefault.scss'
const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<title>{ pageTitle }</title>
	</head>
	<body>
        <Header is:visible></Header>
        
        <main>
            <slot/>
        </main>

        <footer>
            <ul>
                <li>Made with Passion <span class="accent">&#10084;</span></li>
                <li>Copyright &copy; 2023 Daniel Lutz</li>
            </ul>
        </footer>
    </body>
</html>
    